@font-face {
  font-family: Virgil;
  src: url("/assets/Virgil.woff2");
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: Virgil, sans-serif;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 2rem;
}

h1 {
  font-family: Virgil, sans-serif;
  font-size: 50px;
  text-decoration: underline;
  text-underline-offset: 0.8rem;
  margin: 0 0 3rem 0;
}

canvas {
  background: white;
  font-family: Virgil, sans-serif;
}

#canvas-cover {
  width: 1000px;
  height: 700px;
  margin-top: 8rem;
  background: white;
  position: absolute;
  opacity: 0;
  transition: none;
}

#canvas-cover.visible {
  opacity: 1;
  transition: opacity 3s ease-in-out;
}
